.my-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.my-table td,
.my-table th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.my-table th {
  background-color: #f2f2f2;
}
